
.remove-editor-tab {
    margin-left: 0.5em;
    color: #333333;
    opacity: 0.5;
}

.remove-editor-tab:hover {
    opacity: 1;
    cursor: pointer;
}

.run-query,
.run-explain {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    min-width: 7.5em;
}

.run-explain {
    margin-left: 0.5em;
}

.query-stats {
    text-align: right;
}

.query-result {
    margin-top: 2em;
    overflow-x: scroll;
}

.csv-result {
    width: 100%;
    min-height: 40px;
}

#query-history-dialog {
    font-size: 11px;
    max-height: 80%;
}

#query-history-dialog .panel-heading,
#query-history-dialog .panel-body {
    padding: 0.5em;
    white-space: pre;
}
