
.form-row {
    margin-bottom: 1em;
}

#mode-form {
    text-align: right;
}

#treemap-chart {
    position: relative;
    width: 100%;
    border: 1px solid #c0c0c0;
}

.node {
    border: solid 1px #ffffff;
    font: 12px sans-serif;
    line-height: 24px;
    overflow: hidden;
    position: absolute;
    text-indent: 6px;
}
