
.schema-btn {
    width: 100%;
    margin-bottom: 1em;
}

.table-details {
    display: none;
}

.loading-spinner {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% { transform: rotate(360deg); }
}
